/* Default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Dashboard */

.dashboard-tile {
  background-color: #d9d9d9;
  min-height: 648px;
}

/* Projects */

.projects h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.projects h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.projects h3 {
  font-size: clamp(.25rem, 2vw, 1rem);
}

.status-completed {
    background-color: #4FE442;
}

.status-for-review {
    background-color: #E4AB42;
}

.status-incomplete {
    background-color: #E45A42;
}

.category-programming {
    background-color: #42CCE4;
}

.category-assets {
    background-color: #4742E4;
}

.category-game-design {
    background-color: #E442CE;
}

/* Calendar */

.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.calendar .header .month-year {
    font-size: 1.25rem;
    font-weight: bold;
    color: #636e73;
    padding: 1rem 0;
    text-align: center;
    flex-shrink: 0;
}

.calendar .days {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
}

.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #2c7aca;
    padding: 0.75rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    color: #fff;
    background-color: #448cd6;
    text-align: center;
    box-sizing: border-box;
}

.calendar .days .day_name:nth-child(7) {
    border-right: none;
}

.calendar .days .day_num {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% / 7);
    border: 1px solid #e6e9ea;
    border-width: 0 1px 1px 0;
    padding: 0.5rem;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 10vh;
    overflow: hidden;
}

.calendar .days .day_num span {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.calendar .days .day_num .event {
    margin-top: 0.25rem;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: #fff;
    word-wrap: break-word;
}

.calendar .days .day_num .event {
    border: 1px solid black;
    background-color: #ff00d4;
}

.calendar .days .day_num .event.green {
    background-color: #28a745;
}

.calendar .days .day_num .event.orange {
    background-color: #fdc714 !important;
    color: #000 !important;
}


.calendar .days .day_num .event.red {
    background-color: #dc3545;
}

.calendar .days .day_num .event.purple {
    background-color: #a200ff !important;
    color: #fff !important;
}

.calendar .days .day_num .event.blue {
    background-color: #007bff;
}


.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}

.calendar .days .day_num:hover {
    background-color: #fdfdfd;
}

.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: default;
}

.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: default;
}
