/* Default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Dashboard */

.dashboard-tile {
  background-color: #d9d9d9;
  min-height: 648px;
}

/* Projects */

.projects h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.projects h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.projects h3 {
  font-size: clamp(.25rem, 2vw, 1rem);
}

.status-completed {
    background-color: #4FE442;
}

.status-for-review {
    background-color: #E4AB42;
}

.status-incomplete {
    background-color: #E45A42;
}

.category-programming {
    background-color: #42CCE4;
}

.category-assets {
    background-color: #4742E4;
}

.category-game-design {
    background-color: #E442CE;
}

/* Calendar */

.calendar {
    display: flex;
    flex-flow: column;
}
.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #636e73;
    padding: 20px 0;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #2c7aca;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #818589;
    color: #fff;
    background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 15px;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    min-height: 100px;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #f7c30d;
    color: #fff;
    word-wrap: break-word;
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #518fce;
}
.calendar .days .day_num .event.red {
    background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
    background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: inherit;
}